<div class='login-container h-100'>
<div class="container">
    <div class="row">
        <div class="col-12">
            <div class='login-wrapper '>
                <img src='assets/images/company-logo.png' class='login-img' />
                
                    <form [formGroup]="loginForm" class="example-form">
                        <mat-form-field appearance="fill" class='w-100'>
                            <mat-label>User Code</mat-label>
                            <input matInput required formControlName="username">
                            <mat-icon matPrefix class='color-grey'>person</mat-icon>
                            <mat-error >User Code is required!</mat-error>
                          </mat-form-field>

                          <mat-form-field appearance="fill"  class='w-100 margin-top-10'>
                            <mat-label>Pin No.</mat-label>
                            <input matInput required formControlName="password" type='password' >
                            <mat-icon matPrefix class='color-grey'>lock</mat-icon>
                            <mat-error >Pin No. is required!</mat-error>
                          </mat-form-field>
           
                <button mat-raised-button color="primary" 
                [disabled]='loginForm.status =="INVALID"'
                (click)="Login()" class="login-btn">LOG IN</button>

                <p class='error-msg' *ngIf="errorMsg != ''">{{ errorMsg }}</p>
                </form>
            </div>
        </div>
    </div>
</div>

</div>
